*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Raleway", sans-serif;
}

body {
    height: 100vh;
    width: 100%;
}

form {
    width: 25%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.formPart {
    margin-bottom: 1em;
}

.intro-form-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.introInput {
    outline: none;
    text-transform: uppercase;
}

.introSearchBtn {
    margin: 0 auto;
    width: 50%;
}